@import "tailwindcss";
@import "./assets/fonts/Poppins-Regular.css";
@import "./assets/fonts/LeckerliOne-Regular.css";

.box-shadow-card {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@theme {
  --font-LeckerliOne: "LeckerliOne";
  --font-Poppins: "Poppins";

  --color-primary: #002933;
  --color-secondary: #dff9f6;
  --color-bulle: #D8F6F6;
  --color-accent: #f2c94c;
  --color-surface: #ffffff;
  --color-background: #fafafa;
  --color-background-card: #afafaf;
  --color-button: #002933;
  --color-text: #002933;
  --color-text-second: #356969;
  --color-muted: #6e7a82;
  --color-border: #e0e0e0;
  --color-success: #27ae60;
  --color-error: #eb5757;
  --color-info: #2f80ed;
}
